body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color: rgb(255, 174, 0);
}
.logo-assasin{
text-align:center;  
}
header{
    padding:10px;
        text-align:center;
    background-color:blueviolet;
    text-decoration: none;
}
h1{
text-align: center; 
background-color:lightgreen;
color:blue
}

nav{
    padding:10px;
    text-align:center;
background-color:blueviolet;
}
h2{
text-align: center;
color:red;
}
p{
color:darkgreen;

}
